# macOS system files
.DS_Store

# Jupyter temporary files
.ipynb_checkpoints/
.notebooks/.jupyter/

# Excel temporary files
~$*.xlsx

# Python cache
__pycache__/
*.pyc

# Ignore database files only if you want to exclude local test DBs
# Remove this line if you want to track qc_structured.db in Git
# *.db



# macOS 
system files
.DS_Store

# Jupyter temporary files
.ipynb_checkpoints/
.notebooks/.jupyter/

# Excel temporary files
~$*.xlsx

# Python cache
__pycache__/
*.pyc

# Databases (optional – keep only if intended)
*.db

